body{
	background-color: #FFD700;
	background-repeat: no-repeat;
	display: fixed;
	size: 100%;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	
	background-image: url(".jpg");
	

}
.h1{
	font-family: sans-serif;

	
	
}
.nav{
	box-shadow:orange;

	
}
.navbar .navbar-brand{
    color:red;
    

}
.navbar .container-fluid .navbar-header .navbar-toggle .icon-bar{
	color:yellow;
	
}
.navbar{
	box-shadow: 0 0 10px red;

}
.Navbar-header{
	 color: yellow;
}

.ul{
	color: yellow;
}

.Menu-bar{
font-size: 15px;
display: inline-block;
margin-right: -4px;
list-style-type: none;

list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border: 3px;
  border-color: red;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
}