
body{
    margin: 0vh;
    background-color: white;
    background-image: url("bg.jpg");
    margin-bottom: 50px;
}



h2{
    font-size: 20px;
    color: orangered;
}
button{
    width: 10 vw;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 9, 9);
    padding: 7px px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: orangered;
}
::-webkit-scrollbar{
    display: none;
}

/* Sticky navbar */
.navbar{
    position:fixed;
    top: 0px;
    width: 100vw;
	
}
.navbar .navbar-brand{
    color:red;
    

}

.navbar .container-fluid .navbar-header .navbar-toggle .icon-bar{
	color:yellow;
	
}
.navbar{
	box-shadow: 0 0 10px red;
	z-index: 999;
    
}
.Navbar-header{
	 color: yellow;
}
img:hover{
    transform: scale(1.5);
}

input{
	border: 0;
	border-radius: 8px;
	padding: 8px;
	max-width: 40%;
	color:white;
	background-color: #353434;
	margin-right: 10px;
	position: relative;top:5px;
}
input::placeholder{
    color:yellow;
}



h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px auto;
}
        .menu-item {
            border: 1px solid #ccc;
            border-radius: 10px;
            text-align: center;
            padding: 10px;
            margin: 20px;
            margin-left: 10px;
            margin-right: 5px;
            display: inline-block;
            color: white;
            box-shadow: 0 0 10px red;
            max-width: 250px;
            max-height: 500px;
           
        }

        .cart-item {    
            
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            display: flex;
            background-color: rgb(87, 85, 85);
            color: white;
            font-size: larger;
            justify-content: space-between;
            margin-right: 40px;
        }

        .cart-item img {
            width: 80px;
            height: 80px;
      
        }

        .cart-container {
            overflow-x: hidden;
            margin-top: 50px;
            padding-top: 20px;
            margin-left: auto;
            margin-right: auto;
            border: 0px;
            border-radius: 10px;
            max-height: 200vh;
            min-width: 50vw;
            background-color: rgb(228, 227, 227);
            padding-bottom: 50px;
            position: absolute;
            top:0%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0.1);
            text-align: center;
            color: rgb(0, 0, 0);
            visibility: hidden;
            transition: transform 0.4s, top 0.4s;
            
        }


        .popcart{

            visibility: visible;
            top:50%;
            transform: translate(-50%,-50%) scale(1);
        }
        #cart-container h1{
            color: maroon;
            text-align: center;
        }
        
        .menu-item img{
            height: 200px;
            width: 200px;
        }

        .header{
            height: 200px;
            max-width: 100vw;
            background-image: url("headbg.jpg");
            background-position: center;
            margin-bottom: 50px;
            margin-top: -20px;
            align-items: center;

          
        }

        .Pizza-sizes{
            list-style: none;
            text-align: center;
            color:white;
           
        }
        .Pizza-sizes li{
            max-width: 400px;
            margin: 10px;
            display: inline-block;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            position: relative;top: 10px;
          
        }

        .Pizza-sizes a{
            color: white;
            background-color: red;
            border-radius: 10px;
        }

#cart-icon{
    margin-top: 10px;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    font-size: 20px;
    margin-left: 10px;
 }

/* Fixed position with 0 bottom will make the footer sticky */
 footer{
    display: flex;
    position:fixed;
    bottom: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 100vw;
    height: 50px;
    background-color: rgb(61, 61, 61);

 }
 footer ul li{
    display: inline;
    text-decoration: none;
    text-align: center;
    padding-right: 20px;
    padding-left: 40px;
    margin-right: 20px;
    font-size: 20px;
 }




.billing{
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50vw;
    height: 70vh;
    position: absolute;
    top:0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    color: rgb(0, 0, 0);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.pop-billing{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
}
.billing h1{
    color:rgb(255, 68, 0);
    margin-bottom: 100px;
}
#name, #email, #phone , #address{
    margin: 10px;
    width: 1000px;
}
#submit-order{
    height: 50px;
    width: 150px;
    background-color: rgb(255, 230, 0);
    color:black;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
}
#submit-order:hover{
    background-color: rgb(11, 185, 11);
    background-color: rgb(255, 187, 0);
}
#cancelbtn{
    background-color: #575757;
    height: 50px;
    width: 150px;
    box-shadow: 0 0 5px black;
}

#cancelbtn:hover{
    background-color: rgb(129, 129, 129);
    color:red;
}


#closebtn,#checkout{
    width: 100px;
    height: 40px;
    box-shadow: 0 0 5px black;
}
#checkout{
    width: 140px;
    background-color: rgb(255, 230, 0);
    margin-bottom: 10px;
    color:black;
    font-weight: bolder;
   
}
#checkout:hover{
    background-color: rgb(255, 187, 0);
}